html{
    background: linear-gradient(0deg,rgb(27, 27, 94),rgb(14, 15, 56));

}
#container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 60px;
  /* background-color: rgba(92, 119, 227, 0.3); */
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  position: fixed;
  top:0;
  box-sizing: border-box;
  width: 100%;

}
#sub-container{
    background: linear-gradient(0deg,rgba(92, 119, 227, .99),rgb(14, 15, 56));
    width: 100%;
    margin: 10px 10px;
  /* position: sticky;
  top:0; */


}
 #container img {
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 2px rgb(59, 89, 119);
  overflow: hidden;
}
img {
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 2px rgb(59, 89, 119);
  /* overflow: hidden; */
}
nav > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  list-style: none;
}
nav li a {
  padding: 10;
  text-align: left;
  color: rgba(14, 3, 64, 0.73);
  text-transform: uppercase;
}
#acquisitions {
  padding: 10 60;
  width: auto;
  /* position: relative; */
  top: 50px;
}
.chart {
  width: 400px;
  height: 200px;
  /* position: absolute; */
  top: 500px;
  background-color: rgba(201, 184, 73, 0.5);
  border-radius: 3px;
  

}
#space{
    height: 200px;
}
main {
  /* background-image: url(/images/traffic-background.jpg); */

  background-size: cover;
  /* text-align: center; */
  /* position: absolute; */
  height: 800px;
  /* margin: 100px 0; */
}
#moto {
  background-color: rgba(14, 3, 64, 0.5);
  text-align: center;
  font-family: sans-serif;
  width: 500px;
  height: 200px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 500px;

  /* position: fixed; */

  margin: auto;
  width: 25%;
  padding: 10px;
}
#moto a {
  background-color: blanchedalmond;
  text-decoration: none;
  color: rgb(144, 71, 40);
  border-radius: 3px;
  /* position: absolute; */
  /* display: block; */

}
a:hover {
  box-shadow: 1px 2px 5px rgb(42, 94, 150);
}
#charts{
    display: flex;
}
.grd{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 15px;
}
.grd li:nth-last-of-type(5){
  grid-column: 2/4
}
